<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074011055856-7eojmuh99dbr3g7iolg7vn3r49lrec8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074011055856-7eojmuh99dbr3g7iolg7vn3r49lrec8c</string>
	<key>API_KEY</key>
	<string>AIzaSyAI9f_9Ey7I6h8CB0_ytiUQPteXpGdb6kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1074011055856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crossplatformers.pinemojiTTB</string>
	<key>PROJECT_ID</key>
	<string>pinemoji-xp</string>
	<key>STORAGE_BUCKET</key>
	<string>pinemoji-xp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074011055856:ios:d91d35e348ef9817920435</string>
	<key>DATABASE_URL</key>
	<string>https://pinemoji-xp.firebaseio.com</string>
</dict>
</plist>